faiss-cpu==1.7.3
ffmpeg-python>=0.2.0
tensorboardX
resampy>=0.4.2
tensorboard
pyasn1-modules>=0.2.8
httpx
onnxruntime; sys_platform == 'darwin'
onnxruntime-gpu; sys_platform != 'darwin'
torchcrepe==0.0.20
fastapi==0.88
ffmpy==0.3.1
av
